<h2 id='title'>Welcome to Ember.js</h2>

{{outlet}}

<ul class="bottom-menu">
<li>{{#link-to 'application'}}Home{{/link-to}}</li>
<li>{{#link-to 'cities'}}Cities{{/link-to}}</li>
<li>{{#link-to 'blah'}}Blah{{/link-to}}</li>
</ul>